<h1><%= t "app_name" %></h1>
<p><%= t ".content" %></p>
<%= button_to t(".link_text"),
    edit_password_reset_url(
        id: @user.reset_token,
        email: @user.email,
        locale: I18n.locale) %>
<p><%= t ".notify_expire" %></p>
<p><%= t ".end_content" %></p>
